*.la
*.lo
*.o
*~
.deps
.dirstamp
.libs
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.status
/configure
/libtool
/stamp-h1
/interfaces/R/DESCRIPTION
/interfaces/R/src/*.c
/interfaces/R/src/*.h
/iproc.Rcheck
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/tests/actors_test
/tests/list_test
/tests/design_test
/tests/frame_test
/tests/hashset_test
/tests/intmap_test
/tests/pqueue_test
