*.a
*.h5
*.la
*.lo
*.o
*.swp
*.trs
*~
.deps
.dirstamp
.libs
/a.out.dSYM
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.status
/configure
/libtool
/output
/stamp-h1
/interfaces/R/DESCRIPTION
/interfaces/R/src/*.c
/interfaces/R/src/*.h
/iproc.Rcheck
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/tests/array_test
/tests/catdist_test
/tests/catdist1_test
/tests/design_test
/tests/design2_test
/tests/enronfit
/tests/history_test
/tests/mlogit_test
/tests/model_test
/tests/recv_loglik_test
/tests/send_model_test
