useDynLib(iproc)
export("Mesg", "recv.frame", "recv.model")
S3method(as.character, Mesg)
S3method(as.matrix, Mesg)
S3method(is.na, Mesg)
S3method(print, Mesg)
S3method(print, recv.model)
S3method(print, summary.Mesg)
S3method(summary, Mesg)
S3method(vcov, recv.model)
